# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.logs/*
**/*.iml
# Package Files #
*.jar
*.war
*.ear
target
.idea
.DS_Store
exports
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.tags
.tags_sorted_by_file


